/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
# Ignorar todos los archivos en /storage/app/public/temp/
storage/app/public/temp/*

# Excluir README.txt de ser ignorado
!storage/app/public/temp/README.txt
.env
env.json
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
